<% if(success && success.length) { %>
<div class="alert alert-success myalert col-6 offset-3 alertcolor" role="alert">
    <%= success %>
</div>
<% } %>

<% if(error && error.length) { %>
<div class="alert alert-success myalert col-6 offset-3 alertcolo" role="alert">
    <%= error %>
</div>
<% } %>
